.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-top: 2rem;
}

/* CONTAINER STYLING */
.container {
	border-radius: 0.8rem;
	margin-top: 6rem;
	padding: 1.5rem;
	width: min(50rem, 70vw);
	max-width: 70rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background-color: #fff;
	font-size: 1.85rem;
}

/* ERROR MESSAGE STYLE */
.errorMsg {
	font-size: 1.5rem;
	border-radius: 0.5rem;
	width: min(50rem, 70vw);
	text-align: center;
	padding: 1rem;
	background-color: rgb(245, 135, 135);
	position: absolute;
}

/* MISCELLANEOUS */
.form-todo-container {
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
}

h1 {
	margin: 0;
	padding-bottom: 0.9rem;
	text-align: center;
	border-bottom: 0.2rem solid #cac7c7;
}

button {
	cursor: pointer;
	border: none;
	border-radius: 0.3rem;
}

@media (hover: hover) {
	button:hover {
		background-color: #111;
		color: white;
	}
}

/* FORM STYLES */
form {
	display: flex;
	gap: 0.5rem;
}

form .only-on-mobile {
	display: none;
}

form input {
	width: 85%;
	padding: 0.8rem;
	border-radius: 0.3rem;
	outline: none;
	border: none;
	background-color: #cac7c7;
}

form button {
	width: 15%;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #333;
	color: #fff;
}

/* TODO STYLES */
.todo-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.todo-tracker {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;
}

.todo-tracker p {
	margin: 0;
}

.todo-tracker p span {
	padding: 0.1rem 0.8rem;
	border-radius: 0.5rem;
	background-color: #333;
	color: white;
	margin-left: 0.25rem;
}

.todo-list-container {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.todo-list {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	background-color: #cac7c7;
	border-radius: 0.3rem;
	width: 100%;
	word-break: break-all;
}

.todo-list label {
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
	overflow-wrap: break-word;
	width: 90%;
}

.todo-list label input[type="checkbox"] {
	accent-color: #333;
}

.todo-list label span {
	align-self: center;
}

@media (hover: hover) {
	.todo-list:hover {
		background-color: #777;
		color: white;
	}
}

.todo-list button {
	margin-left: auto;
	padding: 0.2rem 0.4rem;
	font-size: 1.3rem;
	background-color: #cac7c7;
	color: rgb(237, 32, 32);
}

.todo-list i {
	font-size: 1.7rem;
}

.no-data-yet {
	text-align: center;
	margin-bottom: 0.8rem;
	background-color: #cac7c7;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

/*  STYLING FOR CHECKED TASK */
.checked {
	text-decoration: line-through #333 0.2rem;
}

/* MEDIA QUERY */
@media screen and (max-width: 600px) {
	.container {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 520px) {
	.todo-tracker {
		flex-direction: column;
		gap: 1rem;
	}
}

@media screen and (max-width: 412px) {
	.container {
		font-size: 1.2rem;
	}

	.errorMsg {
		font-size: 1.2rem;
	}

	form .desktop-view {
		display: none;
	}

	form .only-on-mobile {
		display: inline-block;
		width: 15%;
	}

	form input,
	form button {
		width: 100%;
	}
	form button {
		padding: 0.5rem 0;
	}
}
